<div id="BigImageContainer">
  <div id="WelcomeMessage">
    Welcome back, Joley!
  </div>
</div>
<div id="GradientBox">
    <div id="Titles">
        <div id="StudentsTitle">
           <h3>Students</h3>
        </div>
        <div id="ChartsTitle">
          <h3>Charts/Reports</h3>
        </div>
    </div>
    <div id="LeftColumn" class="TextColumn">
        <div id="LY">
          <div id="LYBox" class="SmallBox"><a href="/Students/">LY</a></div>
          <div id="LYText">
            LY Students<br/><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus venenatis vulputate purus quis posuere.</p><br/>
          </div>
        </div>
        <div id="LF">
          <div id="LFBox" class="SmallBox"><a href="/Students/">LF</a></div>
          <div id="LFText">
            LF Students<br/><br/>
            <p>Sed sodales lacus non tincidunt vestibulum. Nunc suscipit nec
            elit vitae viverra. Nunc sed orci non magna ullamcorper
            vehicula.</p><br/>
          </div><br/><br/>
          <%= link_to "All Students", '#', class: "btn btn-small btn-primary" %>
         </div>
    </div>
    <div id="RightColumn" class="TextColumn">
        <div id="ChartBox">
          Chart
        </div>
        <div id="ChartText">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus venenatis vulputate purus quis posuere.</p><br/>
        </div>
    </div>
</div>