<footer class="footer">
  <small>
    ESOLve by Manny Lozada - 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Charts/Reports", '#' %></li>
    </ul>
  </nav>
</footer>